@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
/* Bordered form */
body{
    border-radius: 10px solid black;
    background-color:#f1cdd8;
    opacity: 0.8;}
.fontsize{
  font-size: 14px;;
}

h2,p{
    font-family: inherit;
    color: black;
}

.margin{
    margin: 80px 100px 80px 700px ;
}
form {
    border: 3px solid white;
    
  }
.forms{
    background-color: white;
}
.inline{
  width: 100%; 
   text-align: center; 
   border-bottom: 1px solid rgba(109, 109, 109, 0.527); 
   line-height: 0.1em;
   margin: 10px 0 20px;
}
.inlineword{
  background:#fff; 
    padding:0 10px; 
}
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 15px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #ea4c89ea;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 7px;
  }
  .button2{
      border:2px solid grey;
      border-radius: 20px;
      background-color: white;
  }
  .button3{
    border:2px solid #4267b2;
    border-radius: 20px;
    background-color: #4267b2;
    }
  .account:hover{
    color:#ea4c89;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding:0;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  .check{
      
      background: white;
      border-radius: 12px;
      width: 450px;
  }
  .margin2{
      margin: 15px ;
      padding: 50px;
  }