@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

body{
        background-color: white;
        background-position: center;
        background-size: cover;
        font-family: 'Gochi Hand', cursive;
        padding: 20px;
        color: hsl(198, 1%, 29%);
 }

 input{
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius:3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 3px rgb(243, 70, 177);
    font-family: 'Gochi Hand', cursive;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
    width: 70%;
    margin-bottom: 20px;
  }
  input:focus {
    outline: none;
    
  
}

.add{
  
    border: 2px solid grey;
    transform: rotate(4deg);
    transform-origin: center;
    font-family: 'Gochi Hand', cursive;
    font-size:large;
    text-decoration: none;
    padding-bottom: 3px;
    max-width: 150px;
    max-height: 60px;
    border-radius: 5px;
    box-shadow: 0 2px 0 hsl(198, 1%, 29%);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: transparent;
    color: hsl(198, 1%, 29%);
  }

  
  .add:active, .add:focus {
    transform: translateY(4px);
    padding-bottom: 0px;
    outline: 0;
  }

  .donebtn,.delbtn,.realdelbtn {
    background-color:white;
    color: hsl(198, 1%, 29%);
    border: 2px dashed  hsl(198, 1%, 29%);
    border-radius: 10px;
    padding: 5px;
    float:right;
    margin-left: 5px;
 
  }
  button:focus{
    outline:none;
    opacity: 0.8;
  }
.donebtn{
    border: 2px dashed rgb(243, 70, 177); 
    color:rgb(243, 70, 177);
}



  li{
    margin-top: 20px;
  }
  .header{
 
 margin:auto;
 background-color: white;
 color: hsl(198, 1%, 29%);
}





.check{
    border: 2px solid black;
    border-radius: 4px;
   
    }


 
    
.btn{
    background-color:white;
       color: hsl(198, 1%, 29%);
       border: 2px solid hsl(198, 1%, 29%);
       border-radius: 10px;
       padding: 5px;
       margin-top: 15px;
       margin-bottom: 15px;
    }
    .btn:hover{
        opacity: 0.8;
    }
@media (min-width: 992px) { 
    .responsive{
        display: none;}

        .responsive1{
            display: none;}
    }
    @media (min-width: 800px){
        .responsive3{
            display: none;
        }
        .bigimg{
                width: 100%;
                height: auto;
               
        
            }
        .bigwords{
                box-sizing:content-box;
                position:relative;
        
        }
    }
    @media (max-width: 800px) { 
        .noexpand-md{
            display: none;
        }
    }

 
@media (max-width: 992px) { 
    .responsiveimg{
       display: none; 
    }
    
    }


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 100px;
    
  }
.concenter{
    text-align:center;
    margin: auto;
}
.nav-link:hover{
    color: #ff738e;
}




.flowbtn:hover{
    opacity: 0.5;
}

.contactbutton{
    color: #ea4c89;
    font-size: 20px;
    border: 2px solid #ea4c89;
    border-radius: 30px;
}
.contactbutton:hover{
    background-color:  #ea4c89;
    color:white;
    opacity: 0.8;
}
#clearall{
display: none;
}